.my-icon-search{

    padding: 2px;
   background-color:WHITE;
 }
 .container-input-header-class{
     display: flex;
     justify-content: center;
     align-items: center;
     input{
         font-weight: 600!important;
         color: rgb(35, 35, 35) !important;
     }
 }
 .ant-btn {
background-color: rgb(17, 140, 93);
 }