.login-container{
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  top: 105px;
  bottom: 200px;
  left: 0px;
  right: 0px;
  overflow: auto;
  padding: 2rem;

  form{
    width: 450px;
    height: 60vh;
    background-color: rgb(74, 210, 163);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    h1{
      padding: 5px;
    }
    .forms-container{
        text-align: center;
      div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
      }
      a{
        padding: 5px;
      }
    }
  }
}
.btn-container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  margin-right: 10rem;
}

.ant-btn {
  font-size: 14px;
  height: 32px;
  padding: 4px 15px;
  border-radius: 6px !important;
  background-color: rgb(17, 140, 93) !important;
  border: 0px !important;
}
