#ticket {
  width: 600px;
  height: 600px;
  margin: 20px;
}

#items {
  display: flex;
  flex-direction: row;
  width: 100%;
  img{
    height: 60px;
  }

  div{
    margin: 15px;
  }
}

#picture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#total {
  margin: 30px;
}