#ticket {

  border: 1px;
  padding:  10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: rgb(2,0,36);
  background: linear-gradient(137deg, rgba(2,0,36,1) 0%,  rgb(74, 210, 163) 0%, rgb(55, 149, 116) 100%);
 box-shadow: 0 -0.5px 10px 8.5px #afafaf;
 height: 50vh;
 overflow-x: scroll;
}

#ticketsUser {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 40px;
  padding: 1rem;

  img{
    width: 70px;
    background:transparent ;

  }
  b{
    font-weight: 700;
    color: rgb(82, 19, 10);
  }
}

#divTickets {
  font-size: 40px;
  margin-bottom: 30px;
  // position: absolute;
  // padding-bottom: 1rem;
}
