
.footer {
  background-color: #3a3939;
  color: rgb(254, 254, 254);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18%;
  width: 100%;
  // left: 0;
  bottom: 0;
  position:fixed;





  .footer-container {
    height: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    width: 90%;
    
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .footer-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 90px;
      width: 195px;
      .social-networks {
        margin-left: -1.4rem;
        li{
          font-size: 12px;
          &:hover{
            color: #118c5d;
            cursor: pointer;
          }
        }
      }
      h4 {
  
        font-size: 16px;
        margin-bottom: 10px;
      }

      p {
        font-size: 10px;
        text-align: left;
      }

      ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        list-style: none;
        margin: 0;
        padding-left: 2rem;
        

        li {
          // margin-bottom: 5px;

          a {
            color: rgb(195, 195, 195);
            text-decoration: none;
            font-size: 10px;
            text-align: left;
            &:hover {
              color: #118c5d;
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    text-align: center;
    font-size: 0.7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
  }
}


footer{
  width: 100vh;
}