
.footer {
  background-color: #3a3939;
  color: rgb(254, 254, 254);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23%;
  width: 100%;
  // left: 0;
  bottom: 0;
  position:fixed;
  flex-direction: row;





  .footer-container {
    height: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    width: 90%;
    
  }

  .footer-content-inside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .footer-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 90px;
      width: 195px;
      text-align: start;
      .social-networks {
        margin-left: -1.4rem;
        li{
          font-size: 12px;
          &:hover{
            color: #118c5d;
            cursor: pointer;
          }
        }
      }
      h4 {
  
        font-size: 16px;
        margin-bottom: 10px;
      }

      p {
        font-size: 10px;
        text-align: left;
      }

      ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        list-style: none;
        margin: 0;
        padding-left: 2rem;
        

        li {
          // margin-bottom: 5px;

          a {
            color: rgb(195, 195, 195);
            text-decoration: none;
            font-size: 10px;
            text-align: left;
            &:hover {
              color: #118c5d;
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    text-align: center;
    font-size: 0.7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
  }
}


.crazy-footer.expanded {
  height: 200px; /* altura del contenido expandido */
}

.footer-content {
  display: none;
}

.crazy-footer.expanded .footer-content {
  display: block;
}
.expand-button {
  width: 100%;
  padding: 10px;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(61,67,68,1) 0%, rgba(35,44,47,1) 100%);
  color: #fff;
  border: none;
  cursor: pointer;
  border-top: 2px solid #6b6666;
  position: fixed;
  bottom: 0;
}