.register-container {
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  top: 105px;
  bottom: 200px;
  left: 0px;
  right: 0px;
  overflow: auto;
  padding: 2rem;
  
  form {
    width: 450px;
    height: 65vh;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.337);

    h1 {
      padding: 5px;
    }

    .forms-container {
      width: 100%;
      text-align: center;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
      }
      a{
        padding: 5px;
      }
      button{
        // margin-right: 3.5rem;
        background-color: #50a9bb;
      }
      

    }
  }
}