.admin-user-container{
padding: 1rem;
margin: 1rem;
display: flex;
// flex-direction: column;
flex-wrap: wrap;
// height: 920px;
p{
    text-align: center;
    width: 100%;
    padding-bottom: 1rem;
    word-spacing: 1rem;
}
}
.user-card-container{
    padding: 1rem;
    border: 3px solid green;
    margin: 1rem;
    width: 20%;
    height: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around ;
    align-items: flex-start;
    flex-direction: column;
    text-transform: capitalize;
    
    h3{
        text-transform: capitalize;
        padding: 0.3rem;
    }
    h4{
        padding: 0.3rem;

    }
    h5{
        padding: 0.3rem;

    }
}
.info-container-user{
    height: 70%;
}
.action-container-user{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 0.4rem;
    font-size: 25px;
    cursor: pointer;
    height: 30%;
}
.btn-container-admin-user{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    padding: 1rem;
    flex-direction: row;
    // margin: 1rem;
    background-color: #9dd2a03e;
    
    button{
        background-color:rgb(232,244,232);
    width: 15%;
        height: 2.2rem;
        border: 2px solid rgba(79, 119, 77, 0.819);
        padding: 0.5rem;
        border-radius: 1rem;
        cursor: pointer;
        font-weight: 600;
    }
}
.role-user{
    padding-left: 2.5rem;
}
