*{
  margin: 0;
  padding: 0;
}

#bodyProducts{
  width: 95%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.eachProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
  width: 380px;
  height: 420px;
  transition: all 0.2s;
  background-color: white;

  img {
    height: 110px;
  }

}

#divProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.handle-actions-container{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 1rem;
  div{
    border: 1px solid gray;
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
  }
}.form {
  width: 400px;
}

.formAndProduct {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.price {
  display: flex;
}

.btn {
  display: flex;
  justify-content: center;
}

.delete-btn {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.img {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.inputId {
  display: none;
}