.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vw;
    width: auto;
  
    flex-direction: column;
    gap: 12px;
    .container-profile{

        border: 1px solid black;
        padding:  23px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        background: rgb(2,0,36);
        background: linear-gradient(137deg, rgba(2,0,36,1) 0%,  rgb(74, 210, 163) 0%, rgb(55, 149, 116) 100%);
    }
    
    .description-container{
      
        width: 20vw;
        display: flex;
        flex-direction: column;
        align-items:  center;
        justify-content: center;
      
    }

}