.container {
  
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
//    margin-bottom: 10px;
   padding: 1rem;
   height: 70vh;
}
.img-products{
    object-fit:contain;
    width: 50px;
    height: 100px;
    margin: 0.8rem;
    
}
.ant-card {
    margin: 1rem;
    -webkit-box-shadow: 7px 9px 5px 1px rgba(199,191,199,1);
    -moz-box-shadow: 7px 9px 5px 1px rgba(199,191,199,1);
    box-shadow: 7px 9px 5px 1px rgba(199,191,199,1);
    // background-color: #d4d0b4;

  }
  .ant-card-actions{
    border: darkgray
  }