.containerCardInfo{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.quantityButton{
  font-size: 20px;
}

.containerButtonsQuantity{
  width: 20%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.ant-card-body{
  padding: 0%;
  p{
    display:flex;
    width: fit-content;
    justify-content: start;
    margin: 0.5rem;
  }
}