.containerCardInfo{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.quantityButton{
  font-size: 20px;
  padding: 50%;
}

.ant-card-body{
  padding: 0%;
  p{
    display:flex;
    width: 100%;
    justify-content: start;
    margin: 0.5rem;
  }
}